@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* *{
    font-family: "Poppins", sans-serif;
} */

body{
    background: #1E1D30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar {
    background-color: #1E1D30;
    padding: 20px;
    width: 40%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: antiquewhite;
    margin: 10px;
}

.author{
    font-family: 'Pacifico';
    font-size: 14px;
}

.author a:hover{
    text-shadow: 0px 0px 5px aquamarine;
}

.social-media{
    font-family: "Poppins", sans-serif;
}

.social-media a:hover{
    text-decoration: underline;
}

.logo{
    width: 40%;
    height: auto;
}

.logo:hover{
    transform: scale(1.35);
    transition: 0.5s;
    cursor: pointer;
}

.container-logo {
    background-color: #1E1D30;
    padding: 20px;
    margin-top: 5px;
    width: 40%;
    text-align: center;
}


.container-content {
    background-color: #1E1D30;
    width: 40%;
    height: auto;
}

.content-title{
    /* display: flex; */
    /* flex-direction: center; */
    padding-left: 10px;
    color: antiquewhite;
    font-size: 34px;
    font-family: 'Pacifico', cursive;
    margin: 0px;
}

.profession{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-content: space-between;
    padding: 10px;
}

.profession-block{
    font-family: "Poppins", sans-serif;
    padding: 5px 10px;
    font-size: 12px;
    color: antiquewhite;
    background-color: #581c87;
    border-radius: 10px;
    text-align: center;
}

.profession-block:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.topic {
    color: antiquewhite;
    margin: 0px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 24px;
    text-decoration-line: underline;
    text-decoration-color: cadetblue;
    text-decoration-thickness: 2px;
    font-family: 'Pacifico', cursive;
}


.content-about {
    color: antiquewhite;
    text-align: justify;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

.content-more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.next-button{
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    border-color: aquamarine;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.next-button:hover{
    box-shadow: 0px 0px 5px aquamarine;
    transform: scale(1.05);
    transition: 0.5s;
}

.next-button a {
    text-decoration: none;
    color: aquamarine;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}

/* dual screen responsive */
@media screen and (max-width: 1024px) {
    .navbar {
        width: 60%;
    }
    .container-logo {
        width: 60%;
    }
    .container-content {
        width: 60%;
    }
}

/* tablet responsive */
@media screen and (max-width: 768px) {
    .navbar {
        width: 80%;
    }
    .container-logo {
        width: 80%;
    }
    .container-content {
        width: 80%;
    }
}

/* mobile responsive */
@media screen and (max-width: 480px) {
    .navbar {
        width: 100%;
    }
    .container-logo {
        width: 100%;
    }
    .container-content {
        width: 100%;
    }
}
