.tech-stack{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-between;
    padding: 10px;
}

.tech-block{
    font-family: "Poppins", sans-serif;
    padding: 5px 10px;
    font-size: 12px;
    color: antiquewhite;
    background-color: #581c87;
    border-radius: 10px;
    text-align: center;
}

.tech-block:hover {
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}

.about_project {
    color: antiquewhite;
    margin: 0px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 32px;
    text-decoration-line: underline;
    text-decoration-color: cadetblue;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    font-family: 'Pacifico', cursive;
}

.project-block{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.project-block:hover{
    box-shadow: 0px 0px 5px antiquewhite;
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.project-img{
    width: 15rem;
    max-width: 100%;
    border-radius: 10px;
}

.project-details{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.project-title{
    font-family: "Poppins", sans-serif;
    color: cadetblue;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 15px;
    text-align: justify;
}

.project-title a{
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}

.project-title a:hover{
    text-decoration: underline;
}

.project-description{
    font-family: "Poppins", sans-serif;
    color: antiquewhite;
    font-size: 14px;
    margin: 0px;
    text-align: justify;
}

.back-button{
    width: 70px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    border-color: aquamarine;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button:hover{
    box-shadow: 0px 0px 5px aquamarine;
    transform: scale(1.05);
    transition: 0.5s;
}

.back-button a {
    text-decoration: none;
    color: aquamarine;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 600px) {
    .tech-stack{
        grid-template-columns: 1fr 1fr;
    }
    .project-block{
        grid-template-columns: 1fr;
    }
    .project-img{
        width: 100%;
    }
    .project-details{
        padding-left: 0px;
    }
    .back-button{
        width: 50px;
    }
}

@media only screen and (max-width: 400px) {
    .tech-stack{
        grid-template-columns: 1fr;
    }
    .project-block{
        grid-template-columns: 1fr;
    }
    .project-img{
        width: 100%;
    }
    .project-details{
        padding-left: 0px;
    }
    .back-button{
        width: 50px;
    }
}